{
	"plugins": [
		"@prettier/plugin-xml",
		"prettier-plugin-css-order",
		"@trivago/prettier-plugin-sort-imports"
	],
	"experimentalOperatorPosition": "start",
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "strict",
	"trailingComma": "es5",
	"importOrder": ["^react$", "^@core/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": "llms.txt",
			"options": {
				"parser": "markdown"
			}
		},
		{
			"files": ["*.md", "*.mdx"],
			"options": {
				"proseWrap": "preserve",
				"printWidth": 9999
			}
		}
	]
}
