html {
	box-sizing: border-box;
}

:root,
*,
*::before,
*::after {
	transition: var(--transition-base);
	box-sizing: inherit;

	scrollbar-color: var(--scrollbar-colors);
	::-webkit-scrollbar-thumb {
		background: var(--scrollbar-color-thumb);
	}
	::-webkit-scrollbar-track {
		background: var(--scrollbar-color-track);
	}
	::-webkit-scrollbar {
		max-width: var(--scrollbar-width-legacy);
		max-height: var(--scrollbar-width-legacy);
	}
	:hover::-webkit-scrollbar-thumb {
		background: var(--scrollbar-color-hover);
	}
}

body {
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-sans);

	@media not print {
		overflow: hidden;
	}
}

*:focus-visible {
	outline: dashed 1px var(--color-accent);
	outline-offset: var(--border-width);
}

button {
	cursor: pointer;
	border: var(--border-width) solid var(--color-accent);
	border-radius: 0;
	background-color: var(--color-highlight);
	padding: 0.5em 0.6em;
	color: var(--color-text);

	&:hover {
		--opacity-highlight: 15%;
	}

	&:active {
		--opacity-highlight: 20%;
	}

	&:hover,
	&:active {
		background-color: oklch(
			from var(--hex-highlight) var(--luminocity-highlight) c h / var(--opacity-highlight)
		);
	}
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: underline;
	}

	@media print {
		&[href^='http']::after {
			opacity: 0.9;
			content: ' <' attr(href) '>';
			color: var(--color-text);
			font-size: 0.9em;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

nav:not(.classic-nav) :is(button, a.button):not(.no-arrow) {
	border: none;
	background: none;
	padding: 0;
	color: var(--color-accent);
	text-align: left;

	&:hover {
		text-decoration: underline;
	}

	&::before {
		display: inline-block;
		transition:
			var(--transition-base),
			padding 0.02s var(--transition-easing);
		padding-right: 1ch;
		content: '>';
		color: var(--color-text);
		text-decoration: none;
	}

	&:hover::before,
	&:focus-visible::before {
		padding-right: 0.2ch;
		padding-left: 0.8ch;
	}

	&:disabled {
		cursor: not-allowed;
		color: var(--color-border);
		text-decoration: none;

		&::before {
			content: ' ';
			color: var(--color-border);
		}
	}
}
