/* GALLERY */
.md-gallery {
	display: flex;
	align-items: stretch;
	gap: var(--border-width);
	max-width: 100%;

	.md-gallery-item {
		display: flex;
		align-items: center;
		cursor: pointer;
		margin: 0;
		background-color: var(--color-overlay-dark);
		overflow: hidden;

		&:focus-visible {
			outline: solid var(--border-width) var(--color-accent);
		}

		picture,
		img {
			display: block;

			@media print {
				width: 100%;
				height: auto;
			}
		}
	}

	@media print, (width <= 50em) {
		flex-wrap: wrap;
		justify-content: center;

		.md-gallery-item {
			flex-basis: clamp(calc(50% - var(--border-width)), 12rem, 76dvw);

			@media print {
				flex-basis: calc(50% - var(--border-width));
			}
		}
	}

	@media not print {
		@media (width > 50em) {
			&.md-gallery-accordion {
				aspect-ratio: var(--gallery-aspect-ratio);

				.md-gallery-item {
					flex: 1 1 0;
					transition:
						flex-grow var(--transition-duration-long) var(--gallery-easing),
						flex-basis var(--transition-duration-long) var(--gallery-easing);

					&:hover,
					&:focus-visible {
						flex-grow: 4;
					}

					&:focus-visible {
						margin-inline: calc(var(--border-width) * 2);
					}

					@supports (interpolate-size: allow-keywords) {
						interpolate-size: allow-keywords;

						&:hover,
						&:focus-visible {
							flex-grow: 0;
							flex-basis: content;
						}
					}

					picture {
						display: flex;
						justify-content: center;
					}

					picture,
					img {
						height: 100%;
					}

					img {
						width: auto;
						object-fit: cover;
					}
				}
			}

			&:not(.md-gallery-accordion) {
				.md-gallery-item {
					transition: opacity var(--transition-duration-long) var(--transition-easing);

					.md-img {
						transition: border-right-color var(--transition-duration-long)
							var(--transition-easing);
					}
				}

				&:has(.md-gallery-item:hover, .md-gallery-item:focus-visible) {
					.md-gallery-item:not(:hover, :focus-visible) {
						opacity: var(--opacity-overlay);

						.md-img {
							border-right-color: var(--color-border);
						}
					}
				}
			}
		}
	}
}

/* MODAL */
.gallery-modal {
	opacity: 0;
	z-index: 6000;
	transition: opacity var(--transition-duration) var(--transition-easing);
	margin: 0;
	border: none;
	background-color: transparent;
	padding: 0;
	width: 100dvw;
	max-width: none;
	height: 100dvh;
	max-height: none;
	color: inherit;

	&[open] {
		opacity: 1;
	}

	&::backdrop {
		backdrop-filter: var(--backdrop-blur-light);
		background-color: var(--color-overlay);
	}

	.gallery-modal-content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		.gallery-modal-item {
			display: flex;
			flex: 0 0 100%;
			justify-content: center;
			align-items: center;
			margin: 3vmin calc(4rem + 3vmin);
			width: 100%;
			height: 100%;
			scroll-snap-align: center;
			scroll-snap-stop: always;

			@media (width <= 50em) {
				margin: calc(3rem + 3vmin) 3vmin;
			}
		}

		picture {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			max-width: calc(100dvw - var(--narrow-padding));
			height: 100%;
			max-height: calc(100dvh - var(--narrow-padding));

			img {
				opacity: 0;
				transition: opacity var(--transition-duration-long) var(--transition-easing);

				&.loaded {
					opacity: 1;
				}
			}
		}

		img {
			outline: var(--border-width) solid var(--color-border);
			box-shadow: 0 0 min(3em, 3vmin) var(--color-overlay-dark);
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}

	.gallery-modal-btn {
		position: absolute;
		z-index: 6001;
		transition:
			var(--transition-base),
			opacity var(--transition-duration) var(--transition-easing);
		cursor: pointer;
		border: none;
		background: transparent;
		padding: 0.5rem;
		width: 3rem;
		color: var(--color-text);
		font-size: 2rem;
		line-height: 1;

		@media (width <= 50em) {
			padding: 0.3rem;
			width: 2.4rem;
			font-size: 1.8em;
		}

		&:hover,
		&:focus-visible {
			color: var(--color-accent);
		}

		&.gallery-modal-close {
			top: 1rem;
			right: 1rem;

			@media (width <= 50em) {
				top: 0.8rem;
				right: 0.8rem;
			}
		}

		&.gallery-modal-prev,
		&.gallery-modal-next {
			bottom: 50%;
			margin-bottom: -1.5rem;

			&.disabled {
				opacity: 0;
				cursor: default;
			}

			@media (width <= 50em) {
				bottom: 0.5rem;
				margin-bottom: 0;

				@media (pointer: fine) {
					background-color: var(--color-overlay);

					&:hover,
					&:focus-visible {
						background-color: var(--color-overlay-dark);
					}
				}
			}
		}

		&.gallery-modal-prev {
			left: 1rem;

			@media (width <= 50em) {
				left: 0.5rem;
			}
		}

		&.gallery-modal-next {
			right: 1rem;

			@media (width <= 50em) {
				right: 0.5rem;
			}
		}
	}
}
