/* --- FONTS --- */

@import url('./fonts.css');

/* --- VARIABLES --- */

@import url('./vars.css');

/* --- UTILITY --- */

@import url('./utility.css');

/* --- CORE --- */

@import url('./core.css');

/* --- CURSOR --- */

@import url('./cursor.css');

/* --- TYPOGRAPHY --- */

@import url('./typography.css');

/* --- MARKDOWN --- */

@import url('./md.css');

/* --- TRANSITIONS --- */

@import url('./transitions.css');

/* --- TOUCH --- */

@import url('./touch.css');

/* --- GALLERY --- */

@import url('./gallery.css');

/* --- PREVIEWS --- */

@import url('./preview.css');

/* --- MAIN --- */

/* Accessibility */
.skip-link {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5000;
	backdrop-filter: var(--backdrop-blur);
	transition:
		var(--transition-base),
		top 0.2s ease;
	border: var(--border-width) solid var(--color-accent);
	background-color: var(--color-overlay);
	padding: 0.8em 1.5em;
	color: var(--color-text);
	font-family: var(--font-sans);
	text-decoration: none;

	@media print {
		display: none !important;
	}

	&:focus {
		top: 10px;
	}
}

/* Hide focus outline for programmatically focused elements */
[tabindex='-1']:not([role^='menuitem']):focus {
	outline: none;
}

/* --- WELCOME SCREEN --- */

#welcome-screen nav.classic-nav {
	display: flex;
	justify-content: space-evenly;
	gap: 0.5em;
	margin: auto;
	max-width: 30rem;
}

/* --- GAME CONTAINER --- */

#game-layer {
	--horizon-pos: 58%;

	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		#473d45 0%,
		#2f2730 var(--horizon-pos),
		#1f1a21 var(--horizon-pos),
		#0f0d0f 100%
	) !important;
	width: 100%;
	height: 100%;

	@media print {
		position: static !important;
		background: none !important;
		height: auto !important;
		overflow: visible !important;
	}

	canvas,
	canvas:focus,
	canvas:focus-visible {
		outline: none;

		@media print {
			display: none;
		}
	}

	/* Modal System */
	dialog {
		position: relative;
		border: none;
		background-color: transparent;
		padding: 0;
		max-width: none;
		max-height: none;
		overflow: visible;
		color: inherit;

		&::backdrop {
			backdrop-filter: var(--backdrop-blur-light);
			background-color: var(--color-overlay-dark);
		}

		@media print {
			display: block;
			position: static;
			margin: 0 !important;
			width: 100% !important;
			height: auto;
			overflow: unset;

			&:not([open]) {
				display: none !important;
			}

			&::backdrop {
				display: none !important;
			}
		}

		&:focus,
		&:focus-visible {
			outline: none;

			.modal-box {
				border-color: var(--color-border-active);
			}
		}

		[hidden] & {
			display: none;
		}

		@media not print {
			&::before,
			&::after {
				position: absolute;
			}

			&::before {
				top: calc(0px - var(--ui-bar-width));
				right: 0;
				left: 0;
				background-color: var(--color-border);
				height: var(--ui-bar-width);
				content: '';
			}

			&::after {
				top: calc(0px - var(--ui-bar-width));
				right: 0;
				left: 0;
				margin-inline: 1rem 6rem;
				content: '/-- ' attr(data-widnowtitle, ' 🖿 ') ' --/';
				color: var(--color-overlay);
				font-weight: bold;
				line-height: var(--ui-bar-width);
				text-transform: uppercase;
			}
		}

		.close-modal {
			position: absolute;
			top: calc(0px - var(--ui-bar-width));
			right: 0;
			z-index: 2;
			box-sizing: border-box;
			background-color: oklch(
				from var(--hex-overlay) var(--luminocity-overlay) c h / var(--opacity-overlay)
			);
			padding: 0 0.4em;
			height: calc(var(--ui-bar-width) + var(--border-width));
			font-family: var(--font-mono);

			@media print {
				display: none;
			}

			&:hover {
				--opacity-overlay: 65%;
			}

			&:active {
				--opacity-overlay: 70%;
			}
		}
	}

	.modal-box {
		@media not print {
			&::before,
			&::after {
				display: block;
				position: absolute;
				right: 1.5rem;
				left: 1.5rem;
				z-index: 1;
				height: calc(1.5rem - var(--border-width));
				pointer-events: none;
				content: '';
			}

			&::before {
				top: var(--border-width);
				background-image: linear-gradient(var(--color-background), transparent);
			}

			&::after {
				bottom: var(--border-width);
				background-image: linear-gradient(transparent, var(--color-background));
			}
		}

		.modal-content {
			position: relative;
			backdrop-filter: var(--backdrop-blur);
			padding: 1rem;
			width: auto;
			overflow-y: auto;
			scrollbar-width: var(--scrollbar-thinner-width);
			color: var(--color-text);

			@media not print {
				border: var(--border-width) solid var(--color-border);
				background-color: var(--color-background);
				padding: 1.5rem;
				max-width: min(80ch, 90dvw);
				max-height: calc(85dvh - var(--ui-bar-width) * 3);
			}

			@media print {
				display: block;
				box-shadow: none;
				border: none;
				padding: 0;
				width: 100%;
				max-width: none;
				max-height: none;
				overflow: unset;
				overflow: visible !important;
			}

			@media (width <= 50em) {
				max-width: 95dvw;
			}
		}
	}
}

/* Menu Button */
#menu-button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 900;
	border: none;
	background: none;
	padding: 0.2em;
	width: 1.74em;
	font-weight: bold;
	font-size: 2em;
	font-family: var(--font-mono);

	&::before {
		content: '☰';
	}
}

/* Game Menu */
#game-menu {
	.modal-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		font-family: var(--font-mono);
	}

	@media print {
		width: 100dvw;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		gap: 0.6em;

		button {
			font-size: 1.4em;
			font-family: var(--font-mono);
		}
	}
}

/* Game Menu */
#GameMenuTitle {
	margin: 0 0 1rem;
	font-weight: normal;
}

/* Loading Overlay */
#loading-overlay {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index: 3000;
	transition:
		var(--transition-base),
		opacity 0.5s ease;
	inset: 0;
	background-color: var(--color-overlay-dark);
	color: var(--color-white);
	font-size: 1.5em;
	font-family: var(--font-mono);

	&.opaque {
		background-color: var(--color-background);
		color: var(--color-text);
	}

	> div {
		border: var(--border-width) solid var(--color-border);
		background-color: var(--color-background);
		padding: 0.5em 0.8em;
		color: var(--color-text);
	}

	&.fade-out {
		opacity: 0;
		pointer-events: none;
	}

	@media print {
		display: none;
	}
}

/* --- TEXT CONTAINER --- */

/* Menu Button */
#menu-button {
	display: flex;
	position: fixed;
	top: 1rem;
	right: 1rem;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;
	width: 48px;
	height: 48px;
	color: var(--color-text);

	&::before {
		content: '☰';
		font-size: 1.5rem;
	}
}

/* General Text Layout */
#text-navbar {
	position: sticky;
	top: 0;
	z-index: 900;
	border-bottom: var(--border-width) solid var(--color-border);
	background-color: oklch(from var(--color-background) calc(l - 0.02) c h);
	padding: 0.4em 1em;
	font-family: var(--font-mono);

	@media print {
		display: none;
	}

	.text-navbar-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 0.8em;
		margin-inline: auto;
		max-width: var(--page-max-width);
	}

	button {
		font-family: var(--font-mono);

		&:disabled {
			cursor: default;
			color: var(--color-border);
			text-decoration: none;
		}
	}
}

#text-layer {
	box-sizing: border-box;
	container-name: layout-root;
	background-color: var(--color-background);
	scroll-behavior: smooth;
	scroll-padding-top: var(--topbar-padding);
	color: var(--color-text);

	@media print {
		overflow: visible !important;
	}

	@media not print {
		position: absolute;
		top: 0;
		left: 0;
		container-type: inline-size;
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}

	&:focus,
	&:focus-visible {
		outline: none;
	}

	.text-layout {
		margin-inline: auto;
		padding: 4em;
		max-width: var(--page-max-width);
		@media (width <= 50em) {
			padding: calc(1em + 2dvw);
		}

		@media print {
			padding: 0;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

.text-columns {
	display: grid;
	grid-template-columns: min(100%, var(--content-max-width)) minmax(0, 1fr);
	align-items: start;
	gap: 2em;

	@media print {
		display: block;
	}

	#text-table-of-contents {
		position: relative;
		border: var(--border-width) solid var(--color-border);
		background-color: oklch(from var(--color-highlight) l c h / 3%);
		padding: calc(2em + 1.5ch) 2em 2em;
		min-width: 0;
		font-size: 1.072em;
		font-family: var(--font-mono);

		@media print {
			display: none;
			padding: 0;
		}

		@container layout-root (width > 120ch) {
			position: sticky;
			top: calc(var(--topbar-padding) + 1rem);
			grid-column-start: 2;
			justify-self: start;
			max-width: min(100%, var(--table-of-contents-max-width));
			max-height: calc(100vh - var(--topbar-padding) - var(--topbar-padding) - 1rem);
			overflow-y: auto;
			scrollbar-width: var(--scrollbar-thinner-width);
		}

		@container layout-root (width <= 32ch) {
			position: absolute;
			margin: -1px;
			padding: 0;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border-width: 0;
			white-space: nowrap;
		}

		&::before,
		&::after {
			position: absolute;
			font-weight: bold;
		}
		&::before {
			top: 0;
			right: 0;
			left: 0;
			background: var(--color-border);
			padding: 0 2.6rem 0 0.8rem;
			content: attr(aria-label);
			text-transform: uppercase;
		}
		&::after {
			top: 00.2rem;
			right: 0.5rem;
			content: '🗉';
			color: var(--color-background);
			font-size: 1.4rem;
			line-height: 1;
		}

		ol {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: grid;
				grid-template-columns: min-content minmax(0, 1fr);
				padding: 0;
				line-height: 1em;

				@media (pointer: coarse) {
					line-height: unset;
				}

				.toc-marker {
					color: var(--color-border);
					white-space: pre;
				}

				a,
				> span:not(.toc-marker) {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				a:first-child,
				> span:not(.toc-marker):first-child {
					grid-column: 1 / -1;
				}
				a {
					color: var(--color-text);

					&:hover {
						color: var(--color-accent);
					}
				}
				> span:not(.toc-marker) {
					color: oklch(from var(--color-highlight) l c h / var(--opacity-overlay));
				}

				ol {
					grid-column: 1 / -1;
					min-width: 0;
				}
			}
		}

		li ol li ol {
			@container layout-root (width <= 130ch) {
				position: absolute;
				margin: -1px;
				padding: 0;
				width: 1px;
				height: 1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border-width: 0;
				white-space: nowrap;
			}
		}

		a {
			&::before,
			&::after {
				display: inline-block;
				transition:
					opacity var(--transition-duration) var(--transition-easing),
					width var(--transition-duration-long) var(--transition-easing),
					margin var(--transition-duration-long) var(--transition-easing);
				width: 0;
				overflow: hidden;
				font-weight: bold;
				white-space: nowrap;
				interpolate-size: allow-keywords;
				opacity: 0;
			}

			&::before {
				margin-right: 0.2rem;
				content: '>';
			}

			&::after {
				position: relative;
				z-index: unset;
				margin-left: 0.2rem;
				inset: unset;
				background: unset;
				pointer-events: unset;
				content: '<';
				text-align: right;
			}

			&:focus-visible {
				color: var(--color-accent);

				&::before,
				&::after {
					opacity: 1;
					width: auto;
				}
			}
		}
	}

	#text-content {
		grid-row-start: 1;
		max-width: var(--content-max-width);

		@media print {
			max-width: none;
		}
	}

	@container layout-root (width <= 120ch) {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}

#text-nav {
	--nav-spacing: 0.3em;

	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--nav-spacing);
	margin-bottom: 1.5em;
	border-bottom: var(--border-width) solid var(--color-highlight);
	padding-bottom: 1em;

	@media print {
		display: none;
	}

	ol.breadcrumbs {
		display: flex;
		flex-wrap: wrap;
		gap: var(--nav-spacing);
		margin: 0;
		padding: 0;
		font-size: large;
		list-style: none;

		li {
			display: inline-flex;
			gap: var(--nav-spacing);

			&:not(:first-child)::before {
				content: '>';
				color: var(--color-text);
			}
		}
	}

	.nav-list {
		display: flex;
		flex-direction: column;
		gap: var(--nav-spacing);
		padding-left: calc(var(--nav-spacing) * 2);

		a {
			&::before {
				content: '🗅 ';
				font-family: var(--font-symbols);
			}

			&.category::before {
				content: '🗁 ';
			}

			&[href='/text/blog']::before {
				content: '🗩 ';
			}

			&[href='/text/projects']::before {
				content: '⛖ ';
			}
		}
	}

	.nav-separator {
		background-color: var(--color-border);
		width: clamp(33%, 8rem, 100%);
		height: var(--border-width);
	}
}

/* Back-to-top link */
.back-to-top {
	display: none;

	@media print {
		display: none !important;
	}

	@supports (animation-timeline: scroll()) {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		z-index: 2000;
		animation: back-to-top-show both step-end;
		animation-timeline: scroll();
		animation-range: calc(15dvh + 8em) calc(15dvh + 8em + 1px);
		transition: var(--transition-base);
		margin: 0;
		border: 0 solid var(--color-border);
		background-color: var(--color-overlay);
		padding: 0;
		height: 0;
		overflow: hidden;
		color: var(--color-text);
		font-family: var(--font-sans);
		text-decoration: none;

		&:hover {
			border-color: var(--color-border-active);
			background-color: var(--color-overlay-dark);
			color: var(--color-accent);
		}

		&:focus-visible {
			outline: var(--border-width) solid var(--color-accent);
			outline-offset: 4px;
			border-width: var(--border-width);
			padding: 0.8em 1.2em;
			height: auto;

			&::before {
				content: attr(data-hint, ' Back to Top');
			}
		}
	}
}

@keyframes back-to-top-show {
	to {
		border-width: var(--border-width);
		padding: 0.8em 1.2em;
		height: auto;
	}
}

/* Interaction label overlay */
#interaction-label-overlay {
	display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	justify-content: center;
	transform: translateY(8px);
	opacity: 0;
	z-index: 1500;
	transition:
		var(--transition-base),
		opacity var(--transition-duration-long) var(--transition-easing),
		transform var(--transition-duration-long) ease-out;
	padding: 1rem;
	pointer-events: none;
	color: var(--color-text);
	font-size: 2rem;

	@media print {
		display: none;
	}

	&.shown {
		transform: translateY(0);
		opacity: 1;
	}

	&::before {
		position: absolute;
		top: -100%;
		right: min(-20%, -12em);
		bottom: -150%;
		left: min(-20%, -12em);
		transform: translateY(10%);
		z-index: 1500;
		background: radial-gradient(
			oklch(from var(--color-overlay) l c h/ var(--percent-80)),
			oklch(from var(--color-overlay) l c h / 0%),
			transparent
		);
		content: '';
	}

	&::after {
		position: absolute;
		top: -80%;
		right: min(-30%, -20em);
		bottom: -130%;
		left: min(-30%, -20em);
		transform: translateY(10%);
		z-index: 1500;
		background: radial-gradient(
			oklch(from var(--color-overlay) l c h/ var(--percent-60)),
			oklch(from var(--color-overlay) l c h / 0%),
			transparent
		);
		content: '';
	}
}

#interaction-label-contents {
	display: flex;
	z-index: 1501;
	max-width: 90dvw;
	font-family: var(--font-mono);

	> span[data-prompt] {
		margin-left: 1ch;
	}
}

.fake-prompt,
*[data-prompt] {
	color: var(--color-accent);
}

/* --- OPTIONS MENU --- */

#text-options-submenu {
	display: flex;
	position: absolute;
	top: 100%;
	right: 1em; /* Align with right padding of navbar */
	flex-direction: column;
	gap: 0.5em;
	z-index: 1000;
	box-shadow: 0 4px 10px oklch(from var(--color-overlay) l c h/ var(--percent-50));
	border: var(--border-width) solid var(--color-border);
	background-color: var(--color-background);
	padding: 1em;

	&[hidden] {
		display: none !important;
	}
}

/* Style the trigger button to look like a link if in text nav */
#text-navbar button[aria-haspopup='menu'] {
	&::before {
		content: unset !important;
	}

	.menuitem-icon {
		display: inline-block;
		transition:
			var(--transition-base),
			rotate var(--transition-duration-long) var(--transition-easing);
	}
	&[aria-expanded='true'] .menuitem-icon {
		rotate: 67.5deg;
	}

	.accessible-forced {
		margin-left: 0.2ch;
	}
}

/* Game Mode Specifics for Options */
#game-menu button[aria-haspopup='menu'] {
	&::before {
		padding-right: 1ch !important;
		padding-left: 0 !important;
		content: '+';
	}

	&[aria-expanded='true'] {
		margin-bottom: 0.2em;
		color: var(--color-accent);

		&::before {
			content: '-';
		}
	}
}

#game-options-submenu {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

#game-options-submenu[hidden] {
	display: none !important;
}

/* Switch Component */
button.switch-btn {
	display: flex;
	align-items: center;
	gap: 0.4em;
	cursor: pointer;
	padding: 0.5em;
	width: 100%;

	&::before {
		content: unset !important;
	}

	.switch-track {
		--focus-corner-color: var(--color-text);
		--focus-corner-length: 0.5em;

		position: relative;
		flex-shrink: 0;
		margin: var(--border-width);
		background-color: var(--color-border);
		width: 2em;
		height: 1.2em;

		&::before,
		&::after {
			position: absolute;
			content: '';
		}
		&::before {
			z-index: 4;
			inset: calc(0px - var(--border-width));
			background: var(--bg-focus-corners);
			pointer-events: none;
		}

		&::after {
			position: absolute;
			top: 0.1em;
			bottom: 0.1em;
			left: 0.1em;
			transition:
				var(--transition-base),
				left var(--transition-duration-long) var(--transition-easing);
			border-radius: 50%;
			background-color: var(--color-text);
			width: 1em;
		}
	}

	&[aria-checked='true'] .switch-track::after {
		left: 0.8em;
		background-color: var(--color-accent);
	}

	#game-menu & {
		font-size: 1.2em;
	}
}

/* Language Selection */
.languageSwitcherButtons {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

/* --- MISCELANEOUS --- */

body:not([data-input-type='gamepad'])
	:is([role='menu'], [role='menubar'], [role='toolbar'], .breadcrumbs) {
	&:has(:is(button, a):focus-visible) {
		--active-menu-outline: dotted var(--border-width) var(--color-border);

		&:has(
			:is([role='menu'], [role='menubar'], [role='toolbar'], .breadcrumbs)
				:is(button, a):focus-visible
		) {
			--active-menu-outline: none;
		}
	}

	:is(button, a):not(:focus-visible, :disabled) {
		outline: var(--active-menu-outline, none);

		&[aria-expanded='true'] {
			outline: dotted var(--border-width) var(--color-border);
		}

		&:is(button) {
			outline-offset: var(--border-width);
		}
	}
}
