/* --- MARKDOWN STYLES --- */
/* Scoped to elements with `marked` class */

.marked {
	blockquote {
		opacity: 0.8;
		margin: 1em 0;
		border-left: 0.25em solid var(--color-border);
		padding: 0 1em;
		color: var(--color-text);
	}

	code {
		margin-inline: 0.2ch;
		border: 1px solid var(--color-border);
		background-color: oklch(from var(--color-highlight) l c h / 5%);
		padding-inline: 0.2em;
		line-height: 1;
		font-family: var(--font-mono-clean);
		word-break: break-word;
		overflow-wrap: break-word;

		pre & {
			display: block;
			margin: 0;
			padding: 0.6em;
			overflow-x: auto;

			@media (prefers-color-scheme: light) {
				background: var(--hex-highlight);
			}

			&.hljs:is(
					.language-javascript,
					.language-js,
					.language-css,
					.language-html,
					.language-xml,
					.language-md,
					.language-markdown
				) {
				padding-top: 1.4em;
			}
		}
	}

	pre:has(code.hljs) {
		position: relative;
		margin: 0;
		width: max-content;
		max-width: 100%;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.3em 0.5rem;
			color: var(--color-text);
			font-weight: bold;
			font-size: 0.75rem;
			font-family: var(--font-sans);
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}

		&:has(code.hljs:is(.language-javascript, .language-js))::before {
			content: 'JavaScript';
		}
		&:has(code.hljs.language-css)::before {
			content: 'CSS';
		}
		&:has(code.hljs.language-html)::before {
			content: 'HTML';
		}
		&:has(code.hljs.language-xml)::before {
			content: 'XML';
		}
		&:has(code.hljs:is(.language-md, .language-markdown))::before {
			content: 'Markdown';
		}
	}

	img {
		display: inline-block;
		background-color: oklch(from var(--color-highlight) l c h / 3%);

		&::before {
			display: inline-block;
			padding: 0.4em 0.6em;
		}

		/* 1× Hair Space: Centered block (all sizes) */
		&[alt$=' '] {
			display: block;
			margin: auto;
		}
		/* 2× Hair Spaces: Centered block -> Floats Right (>= breakpoint) */
		&[alt$='  '] {
			/* display: block; */
			margin: auto;

			@media (width > 50em) {
				float: right;
				margin-left: 1em;
			}
		}
		/* 3× Hair Spaces: Inline -> Floats Right (>= breakpoint-s) */
		&[alt$='   '] {
			@media (width > 33.75em) {
				float: right;
				margin-left: 1em;
			}
		}
		/* 1× Space + 1× Hair Space: Left-aligned block -> Floats Left (>= breakpoint) */
		&[alt$='  '] {
			/* display: block; */
			margin-right: auto;

			@media (width > 50em) {
				float: left;
				margin-right: 1em;
			}
		}
		/* 1× Space + 2× Hair Spaces: Inline -> Floats Left (>= breakpoint) */
		&[alt$='   '] {
			@media (width > 50em) {
				float: left;
				margin-right: 1em;
			}
		}
	}

	/* Base Alert Style */
	.markdown-alert {
		--alert-bar-padding: calc((var(--ui-bar-width) - var(--ui-bar-internal)) / 2);

		position: relative;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 1px solid var(--color-border);
		background-color: oklch(from var(--color-highlight) l c h / 3%);
		padding: 0.5rem;
		padding-left: calc(0.5rem + var(--ui-bar-width));
		overflow: hidden;
		font-size: 0.95em;

		&&::before,
		&&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: var(--ui-bar-width);
		}
		&&::before {
			top: 0;
			background-color: var(--color-border);
			content: '';
		}
		&&::after {
			content: '■';
			color: var(--color-overlay);
			text-align: center;
		}

		/* Alert Title */
		.markdown-alert-title {
			display: flex;
			align-items: center;
			opacity: 0.9;
			margin-top: 0;
			margin-bottom: 0.5em;
			color: inherit; /* Inherit from specific alert color */
			font-weight: 600;
			font-size: 0.9em;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			svg {
				position: absolute;
				top: 0.4rem;
				left: var(--alert-bar-padding);
				fill: currentColor;
				width: var(--ui-bar-internal);
				height: var(--ui-bar-internal);
			}
		}

		/* Alert Content */
		> :nth-child(2) {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}

		/* Specific Alert Types */
		&.markdown-alert-note .markdown-alert-title,
		&.markdown-alert-info .markdown-alert-title {
			color: var(--color-alert-note);
		}
		&.markdown-alert-tip .markdown-alert-title,
		&.markdown-alert-astuce .markdown-alert-title {
			color: var(--color-alert-tip);
		}
		&.markdown-alert-important .markdown-alert-title {
			color: var(--color-alert-important);
		}
		&.markdown-alert-warning .markdown-alert-title,
		&.markdown-alert-attention .markdown-alert-title {
			color: var(--color-alert-warning);
		}
		&.markdown-alert-caution .markdown-alert-title,
		&.markdown-alert-avertissement .markdown-alert-title {
			color: var(--color-alert-caution);
		}

		&.markdown-alert-summary,
		&.markdown-alert-résumé {
			display: inline-block;
			border-width: var(--border-width);
			padding: 0;
			font-size: 1.2rem;
			line-height: 1.1;
			font-family: var(--font-mono);

			&::before,
			&::after {
				display: none;
			}

			.markdown-alert-title {
				justify-content: center;
				margin: 0;
				background-color: var(--color-border);
				padding: 0.2rem 1.4rem;
				text-align: center;

				&::before,
				&::after {
					position: absolute;
					top: 0.1rem;
					color: var(--color-overlay);
				}
				&::before {
					left: 0.2rem;
					content: '-/';
				}
				&::after {
					right: 0.2rem;
					content: '□■■';
				}
			}

			> * {
				margin: 0.8rem 1rem;
			}
			> ul {
				display: flex;
				flex-direction: column;
				gap: 0.2em;
				padding: 0;
				list-style: none;
			}
		}

		/* Tables */
		table {
			border-collapse: collapse;
			background-color: var(--color-background);

			th,
			td {
				padding: 0.2rem 0.5rem;
			}
			th {
				border: 0.2rem solid var(--color-border);
			}
			td {
				border: 0.1rem solid var(--color-border);
			}
		}

		/* Code blocks inside alerts should blend in */
		pre,
		code {
			background-color: oklch(from var(--color-highlight) l c h / 5%);
		}
	}

	.embed-container {
		position: relative;
		margin: 1.5em 0;
		width: 100%;

		iframe {
			position: absolute;
			z-index: 1;
			inset: 0;
			border: 0;
			isolation: isolate;
			width: 100%;
			height: 100%;
		}
	}

	.md-img {
		@media not print {
			border-right: 0.2rem solid var(--color-accent);

			&[src$='.png'] {
				border-right: none;
			}
		}

		@media print {
			max-width: 80dvw;
		}
	}

	@media print {
		picture {
			text-align: center;
		}
	}

	/* Headless Tables */
	thead:has(th:empty):not(:has(th:not(:empty))) {
		display: none;
	}

	/* Blog List */
	.blog-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 40ch - 0.5rem), 1fr));
		gap: 1rem;
		padding: 0;
		list-style: none;

		@media (width < calc(80ch + 8em)) {
			grid-template-columns: repeat(auto-fill, minmax(min(100%, 34rem), 1fr));
		}

		li {
			display: flex;
			align-items: stretch;
			container-type: inline-size;

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: end;
				transition: var(--transition-base);
				background-color: var(--color-overlay-dark);
				padding-block: 6cqw;
				width: 100%;
				height: 56.25cqw;
				color: var(--color-text);

				&:hover,
				&:active {
					background-color: var(--color-overlay);
					text-decoration: none;

					.blog-list-title {
						color: var(--color-accent);
					}
				}

				&:focus-visible {
					--border-width: 0.2rem;
				}

				& > * {
					margin-inline: 6cqw;
				}

				.blog-list-title {
					display: flex;
					flex-grow: 1;
					justify-content: center;
					align-items: center;
					align-self: center;
					overflow-y: auto;
					font-size: clamp(1rem, 5cqw + 120cqw / var(--content-length), 4rem);
					line-height: min(1.2em, 4rem);
					font-family: var(--font-mono);
					text-align: center;
					text-wrap-style: balance;
				}
			}
		}
	}

	/* Projects List */
	.projects-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 40ch - 0.5rem), 1fr));
		gap: 1rem;
		padding: 0;
		list-style: none;

		@media (width < calc(80ch + 8em)) {
			grid-template-columns: repeat(auto-fill, minmax(min(100%, 34rem), 1fr));
		}

		li {
			display: flex;
			align-items: stretch;
			container-type: inline-size;

			a {
				display: flex;
				flex-direction: column;
				transition: var(--transition-base);
				background-color: var(--color-overlay-dark);
				padding: 6cqw;
				width: 100%; /* <--- ADD THIS TO FIX THE WIDTH DIFFERENCE */
				color: var(--color-text);

				&:hover,
				&:active {
					background-color: var(--color-overlay);
					text-decoration: none;

					.project-title {
						color: var(--color-accent);
					}
				}

				&:focus-visible {
					--border-width: 0.2rem;
				}

				.project-header {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: baseline;
					gap: 1rem;
					margin-bottom: 1rem;

					.project-title {
						transition: var(--transition-base);
						font-size: clamp(1.2rem, 6cqw, 2rem);
						font-family: var(--font-mono);
					}

					.project-stars {
						color: var(--color-accent);
						font-family: var(--font-mono);
					}
				}

				.project-desc {
					flex-grow: 1;
					margin: 0 0 1.2rem 0;
					line-height: 1.5;
				}

				.project-tech {
					align-self: flex-start;
					background-color: var(--color-background);
					padding: 0.2em 0.6em;
					color: var(--color-text);
					font-size: 0.9em;
					font-family: var(--font-mono);
				}
			}
		}
	}

	.projects-empty {
		opacity: 0.7;
		font-style: italic;
	}
}

.md-external-link {
	@media not print {
		&:focus-visible::before {
			position: absolute;
			z-index: 4;
			inset: calc(var(--focus-corner-thickness) * -3);
			right: 0;
			background: var(--bg-focus-corners);
			pointer-events: none;
			content: '';
		}

		&::after {
			display: inline-block;
			position: relative;
			vertical-align: super;
			opacity: 0.4;
			z-index: unset;
			transition: opacity var(--transition-duration) var(--transition-easing);
			margin-right: 0.4ch;
			inset: unset;
			background: unset;
			pointer-events: unset;
			content: '⌝';
			line-height: 0;
			text-decoration: none;
			text-indent: -0.5ch;

			@media (prefers-reduced-transparency: reduce) {
				opacity: 1;
			}
		}

		&:hover::after,
		&:focus-visible::after {
			opacity: 1;
		}
	}
}
