/* --- PREVIEW CARD --- */

.preview-card {
	display: flex;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	align-items: stretch;
	opacity: 0;
	z-index: 2000;
	transition:
		var(--transition-base),
		opacity 0.2s var(--transition-easing);
	box-shadow: 0 8px 24px oklch(from var(--color-overlay) l c h / var(--percent-50));
	border: var(--border-width) solid var(--color-border);
	background-color: var(--color-background);
	padding: 0.4rem;
	width: fit-content;
	max-width: min(40dvw, 36rem);
	pointer-events: none;

	@supports (position-anchor: --foo) or (anchor-name: --foo) {
		position-anchor: --active-preview-link;
		position-area: bottom span-right;
		position-try-fallbacks: flip-block, flip-inline;
		right: auto;
		bottom: auto;
		margin-top: 8px;
	}

	&.visible {
		opacity: 1;
	}

	.preview-img {
		display: none;
		flex-shrink: 0;
		max-width: 10em;
		height: auto;
		max-height: 10em;
		object-fit: contain;
	}

	.preview-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0.6rem;
	}

	.preview-title {
		margin: 0 0 0.5rem 0;
		font-size: var(--h5-size);
		text-wrap: balance;
	}

	.preview-desc {
		opacity: 0.85;
		margin: 0;
		font-size: 0.85rem;
		text-wrap: pretty;
	}
}
