:root {
	--font-sans: 'Space Grotesk', 'Noto Sans Symbols 2', sans-serif;
	--font-mono: 'VT323', 'Noto Sans Symbols 2', monospace;

	--hex-accent: #e29186;
	--hex-background: #0f0d0f;
	--hex-text: #d1c6c1;
	--hex-border: #3d383b;

	--hex-overlay: #000;
	--hex-highlight: #fff;

	--luminocity-overlay: 0;
	--luminocity-highlight: 1;

	--color-accent: oklch(from var(--hex-accent) l c h);
	--color-background: oklch(from var(--hex-background) l c h);
	--color-text: oklch(from var(--hex-text) l c h);

	--opacity-overlay: 50%;
	--opacity-overlay-dark: 80%;
	--color-overlay: oklch(
		from var(--hex-overlay) var(--luminocity-overlay) c h / var(--opacity-overlay)
	);
	--color-overlay-dark: oklch(
		from var(--hex-overlay) var(--luminocity-overlay) c h / var(--opacity-overlay-dark)
	);

	--color-border: oklch(from var(--hex-border) l c h);
	--color-border-active: oklch(from var(--color-border) calc(l + 0.15) calc(c + 0.02) h);

	--opacity-highlight: 10%;
	--color-highlight: oklch(
		from var(--hex-highlight) var(--luminocity-highlight) c h / var(--opacity-highlight)
	);

	--scrollbar-thumb: var(--color-border-active);
	--scrollbar-colors: var(--scrollbar-thumb)
		oklch(from var(--color-background) calc(l - 0.04) c h);
	--scrollbar-thinner-width: thin;

	--backdrop-blur: blur(10px);
	--backdrop-blur-light: blur(4px);

	--transition-duration: 0.2s;
	--transition-duration-long: 0.5s;
	--transition-easing: cubic-bezier(0.06, 0.975, 0.195, 0.985);

	--transition-base:
		color var(--transition-duration) var(--transition-easing),
		background-color var(--transition-duration) var(--transition-easing),
		font-size var(--transition-duration) var(--transition-easing);

	--border-width: 2px;

	--topbar-padding: 4rem;

	--content-max-width: 80ch;
	--table-of-contents-max-width: 80ch;

	--gallery-aspect-ratio: 3 / 1;
	--gallery-easing: cubic-bezier(0.2, 0.9, 0.25, 0.98);

	--percent-10: 10%;
	--percent-20: 20%;
	--percent-30: 30%;
	--percent-40: 40%;
	--percent-50: 50%;
	--percent-60: 60%;
	--percent-70: 70%;
	--percent-80: 80%;
	--percent-80: 90%;
	--percent-100: 100%;

	@media (forced-colors: active) or (prefers-contrast: more) {
		--font-sans: 'Atkinson Hyperlegible Next', 'Noto Sans Symbols 2', sans-serif;
		--font-mono: 'Atkinson Hyperlegible Mono', 'Noto Sans Symbols 2', monospace;
	}

	@media (prefers-reduced-data: reduce) {
		--font-sans: inherit;
		--font-mono: monospace;
	}

	@media (prefers-reduced-motion: reduce) {
		--transition-duration: 0s;
		--transition-duration-long: 0s;
	}

	@media (prefers-reduced-transparency: reduce) {
		--opacity-overlay: 85%;
		--opacity-overlay-dark: 90%;

		--backdrop-blur: blur(40px);
		--backdrop-blur-light: blur(20px);

		--percent-10: 40%;
		--percent-20: 50%;
		--percent-30: 60%;
		--percent-40: 70%;
		--percent-50: 80%;
		--percent-60: 85%;
		--percent-70: 90%;
		--percent-80: 95%;
		--percent-80: 100%;
		--percent-100: 100%;
	}

	@media (prefers-contrast: more) {
		--color-accent: oklch(from var(--hex-accent) calc(l + 0.05) c h);
		--color-background: oklch(from var(--hex-background) 0 c h);
		--color-text: oklch(from var(--hex-background) 1 c h);

		--color-border: oklch(from var(--hex-border) calc(l - 0.1) calc(c + 0.02) h);
		--color-border-active: oklch(from var(--hex-border) calc(l + 0.1) calc(c + 0.04) h);

		--scrollbar-thumb: var(--color-text);
		--scrollbar-thinner-width: auto;
	}

	@media print, (prefers-color-scheme: light) {
		--hex-background: #ddd8d6;
		--hex-text: #221a1f;
		--hex-accent: #6d0a1f;
		--hex-border: #b19f9e;

		--luminocity-overlay: 1;
		--luminocity-highlight: 0;
		--opacity-highlight: 8%;

		--color-border-active: oklch(from var(--color-border) calc(l - 0.15) calc(c + 0.02) h);

		--scrollbar-colors: var(--color-border-active)
			oklch(from var(--color-background) calc(l + 0.04) c h);
	}
	@media (prefers-color-scheme: light) and (prefers-contrast: more) {
		--color-accent: oklch(from var(--hex-accent) calc(l - 0.05) c h);
		--color-background: oklch(from var(--hex-background) 1 c h);
		--color-text: oklch(from var(--hex-background) 0 c h);

		--color-border-active: oklch(from var(--hex-border) calc(l - 0.25) calc(c + 0.04) h);
	}
	@media print {
		--hex-background: white;

		--font-mono: 'Atkinson Hyperlegible Mono', 'Noto Sans Symbols 2', monospace;
	}
}

/* Alert Colors */
.marked {
	--hex-alert-note: #899cfa;
	--hex-alert-tip: #95c785;
	--hex-alert-important: #b17abf;
	--hex-alert-warning: #fab387;
	--hex-alert-caution: #e1739b;

	--color-alert-note: oklch(from var(--hex-alert-note) l c h);
	--color-alert-tip: oklch(from var(--hex-alert-tip) l c h);
	--color-alert-important: oklch(from var(--hex-alert-important) l c h);
	--color-alert-warning: oklch(from var(--hex-alert-warning) l c h);
	--color-alert-caution: oklch(from var(--hex-alert-caution) l c h);

	@media print, (prefers-color-scheme: light) {
		--color-alert-note: oklch(from var(--hex-alert-note) calc(l - 0.12) calc(c - 0.02) h);
		--color-alert-tip: oklch(from var(--hex-alert-tip) calc(l - 0.12) calc(c - 0.02) h);
		--color-alert-important: oklch(
			from var(--hex-alert-important) calc(l - 0.12) calc(c - 0.02) h
		);
		--color-alert-warning: oklch(from var(--hex-alert-warning) calc(l - 0.12) calc(c - 0.02) h);
		--color-alert-caution: oklch(from var(--hex-alert-caution) calc(l - 0.12) calc(c - 0.02) h);
	}
}

:root.readability-mode {
	--font-sans: 'Atkinson Hyperlegible Next', 'Noto Sans Symbols 2', sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono', 'Noto Sans Symbols 2', monospace;
}
